@import './variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $bgColor;

    @media (max-width:$lg),
    (max-width:$md),
    (max-width:$sm) {
        display: block;
        padding: 15px;
    }

}

.container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    gap: 40px;

    @media (max-width:$md),
    (max-width:$sm),
    (max-width:$lg) {
        flex-direction: column;
    }




    .timerList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        justify-content: center;
        align-items: center;

        @media (max-width:$md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:$sm) {
            grid-template-columns: 1fr;
        }


    }
}